@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  background-color: #F8F4EA;
}
.image{
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
}
.all{
  margin:0 auto ;
}
.header{
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  color: #850000;
}
.flex{
  display: flex;
  justify-content: space-around;
  
}
.flex button{
  background-color: #850000;
  color: #F8F4EA;
  border: 2px solid #850000;
  padding: 0.5rem;
  border-radius: 20px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size:0.9rem ;
}
.flex button:hover{
  background-color: #fc0404;
  border: 2px solid #fc0404;
}
.flex button a{
  text-decoration: none;
  color: #F8F4EA;
}
.nextnews{
  height: 50%;
}
.cardtitle{
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.desc{
  margin-left: 1.5rem;
}
.imgdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  display: flex;
  justify-content: center;
}
